<div class="news-item show">
  <h1><%= item.title %></h1>
  <small class="item-published_at"><%= I18n.l(item.published_at) %></small>
  
  <p class="item-body"><%= mu(item, :body) %></p>

  <hr />

  <%=  link_to(ecm_news_items_path, :class => 'btn link-back') do %>
    <i class="icon-arrow-left"></i>
    <%= I18n.t('ecm.news.item.actions.back') %>
  <% end %>
</div>
